@font-face {
    font-family: Helvetica-bold;
    src: url(./64a107490cf476b49e1bfff7_HelveticaNowDispXbd.ttf);
}

@font-face {
    font-family: Helvetica-Regular;
    src: url(./64a1084b1a72bd5a813acc24_HelveticaNowDisplay-Regular.ttf);
}

@font-face {
    font-family: Helvetica-Medium;
    src: url(./64a107c22a4cfebda60db085_HelveticaNowDisplay-Medium.ttf);
}

@font-face {
    font-family: Heading;
    src: url(./Heading-Now-Variable.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Courier+Prime&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--HelveticaNowDisplay);
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #1e1e1ee0;
    border-radius: 50px;
}


:root{
    --Allura : 'Allura', cursive;
    --Grotesque : 'Bricolage Grotesque', sans-serif;
    --Courier : 'Courier Prime', monospace;
    --Montserrat : 'Montserrat', sans-serif;
    --Orbitron : 'Orbitron', sans-serif;
    --Poppins : 'Poppins', sans-serif;
    --Ubuntu : 'Ubuntu', sans-serif;
    --Open-sans : 'Open Sans', sans-serif;
    --HelveticaNowDisplay: 'Helvetica', sams-serif;
    --HelveticaNowDisplayExtBd: 'Helvetica New Display ExtBd', sams-serif;

    --main-color: #93989D;
    --side-color: #FFFFFF;
    --grey: #DFE0E2;
    --button: #DFE0E2;
    --main-font: #FFFFFF;
    --Second-font: #1E1E1E;
    --Third-font: #858585;
}

*::selection{
    background: #1E1E1E;
    color: #FFFFFF;
}




.main{
    width: 100vw;
    background-color: var(--main-color);
    position: relative;
}

nav{
    width: 100vw;
    height: 8.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #A9ADB1;
    background-color: #93989d9c;
    padding: 0 3.5vw;
    z-index: 99;
    position: fixed;
    color: var(--main-font);
    transition: 1s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    }

.logo a{
    text-decoration: none;
    color: var(--main-font);
    display: flex;
    cursor: pointer;
}

.logo h1{
    font-size: 1.2vw;
    font-weight: 500;
    
}

.logo i{
    font-size: 1.2vw;
    font-weight: 500;
    
}

menu{
    width: 30vw;
    height: 8.5vh;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

menu a{
    height: 100%;
    padding: 0 2vw;
    text-decoration: none;
    color: var(--main-font);
    display: flex;
    align-items: center;
    transition: .4s all ease-in-out;
}

menu a:hover{
    background-color: #fff;
    color: var(--Second-font);
}




menu>#i{
    background-color: red;
    display: none;
}

menu>h2{
    display: none;
}

nav #icon{
    color: var(--side-color);
    font-size: 30px;
    line-height: 0;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    transition: .7s;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

nav #close{
    color: var(--side-color);
    position: absolute;
    width: 60px;
    height: 60px;
    top: -25.5%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
    transition: .7s;
    background-color: #1E1E1E;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

nav #close i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 35px;
}


@media (max-width: 510px) {


    nav #icon{
        display: block;
        transition: .7s;
    }

    nav #close{
        display: block;
        transition: .7s;
    }

    nav menu{
        z-index: 0;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 30vh;
        background: #1E1E1E;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 30px 30px;
        transition: 1s;
        top: -30vh;
        left: 0;
        -webkit-tap-highlight-color: transparent;
    }

    nav menu a{
        height: 50px;
        display: block;
        font-size: 16px;
        margin-right: 0px;
        padding: 20px 0px;
        display: flex;
        align-items: start;
        width: 100%;
        text-transform: uppercase;
        font-family: Heading;
        font-stretch: 600%;

    }

    menu a i{
        font-size: 18px;
    }

    nav menu a:hover{
        background: transparent;
    }

    nav menu.show{
        transform: translateY(123%);
        transition: all .7s;
    }

}




















.page1{
    position: relative;
    width: 100%;
    height: calc(100vh - 8.5vh);
    background-color: var(--main-color);
    z-index: 2;
}

.page1 .hero{
    /* width: 88%;
    height: 80%; */
    position: absolute;
    left: 12%;
    top: 30%;
}

.hero .box{
    width: fit-content;
    height: 90px;
    /* background-color: red; */
    overflow: hidden;
}

.hero h1{
    font-family: Helvetica-Bold;    
    color: var(--main-font);
    font-size: 5vw;
    letter-spacing: 0px;
    line-height: 1.1;
    /* transform: translateY(100%); */

}

.hero h1 span{
    font-family: Helvetica-Regular;    
    font-weight: 300;
    letter-spacing: -1px;
}

.hero p{
    font-family: var(--Open-sans);
    color: #F9FAFA;
    width: 40vw;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 4vh;
    margin-top: 1vw;
}

.hero button{
    width: 210px;
    height: 45px;
    font-family: Helvetica-Medium;
    border: none;
    background-color: var(--side-color);
    border-radius: 50px;
    color: #616468;
}

.hero button a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
    font-size: .9vw;

}

.hero button a h2{
    color: #616468;
    font-size: .9vw;
    letter-spacing: 0;
    font-weight: 400;
}

.hero>button i{
    font-size: 1.5vw;
    transform: rotate(45deg);
    font-weight: 300;
    color: #616468;
}




.page2{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
    padding: 7vh 12vw;
    z-index: 0;
}

.page2 a{
    font-family: var(--Ubuntu);
    margin-right: 30px;
    text-decoration: none;
    color: var(--main-font);
    font-size: .9vw;
    text-transform: uppercase;
    font-weight: 700;
    transition: all none .5s;
    opacity: 1;
}




.page3{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14.3vw;
}

.page3 .left{
    width: 35vw;
    height: 80vh;
    background-color: #101010;
    border-radius: 20px;
    background-image: url(bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all none .5s;
    opacity: 1;
}

.page3 .right{
    width: 35vw;
    height: 80vh;
    background-color: var(--grey);
    border-radius: 20px;
    transition: all none .5s;
    opacity: 1;
}

.right p{
    font-family: var(--Open-sans);
    color: #1E1E1E;
    font-size: 1.6vw;
    padding: 35px 35px;
    font-weight: 400;
}

.right button{
    width: 170px;
    height: 45px;
    font-family: var(--HelveticaNowDisplay);
    border: none;
    background-color: var(--Second-font);
    border-radius: 50px;
    margin-top: 150px;
    margin-left: 35px;
}

.right button a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .9vw;
}

.right button a h2{
    color: #F3F3F3;
    font-size: .8vw;
    letter-spacing: 0;
    font-weight: 600;
}

.right>button i{
    font-size: 1.2vw;
    transform: rotate(45deg);
    font-weight: 500;
    color: #F3F3F3;
}



.page4{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--side-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Helvetica-bold;

}

.page4 .up{
    width: 100%;
    height: 35vh;
    /* background-color: red; */
    padding: 16vh 11vw;
}

.page4 .up h1{
    font-family: Helvetica-Regular;
    color: var(--Second-font);
    font-size: 65px;
    font-weight: 300;
    letter-spacing: -2px;
    transition: all none 1s;
    opacity: 1;
}

.up h1 span{
    font-weight: 400;
    font-family: Helvetica-bold;
}


.page4 .down{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    font-family: Helvetica-bold;
}

.down .box{
    width: 25%;
    height: 100%;
}

#first-box{
    margin-left: 50px;
}

.down .box .box-up h1{
    font-size: 32px;
    color: rgba(30, 30, 30, 0.35);
    font-family: Helvetica-Regular;
    font-weight: 400;
    border-bottom: 1px solid #cdcdcd;
    padding: 30px 0;
}

.down .box .box-down h2{
    padding: 30px 0px;
    font-size: 32px;
    /* letter-spacing: -1.3px; */
    font-weight: 600;
    font-family: Helvetica-Regular;
    color: #1E1E1E;
}

.down .box .box-down p{
    font-family: var(--Open-sans);
    columns: #808080;
    opacity: .6;
    font-size: 16px;
    width: 102%;
    font-weight: 400;
}

.Explore{
    position: relative;
    background-color: var(--side-color);
    width: 100%;
    height: 15vh;
    z-index: 9;
    margin-top: -1px;
}

.Explore button{
    position: absolute;
    width: 185px;
    height: 45px;
    font-family: Helvetica-Medium;
    border: none;
    background-color: #1E1E1E;
    border-radius: 50px;
    color: #FFFFFF;
    opacity: 1;
    right: 10%;
    top: -3vh;
    transition: all none 1s;
}

.Explore button a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Explore button a h2{
    color: #FFFFFF;
    font-size: .8vw;
    font-family: Helvetica-Medium;
    font-weight: 300;
}

.Explore>button i{
    font-size: 1.5vw;
    transform: rotate(45deg);
    font-weight: 300;
    color: #FFFFFF;
}





.page5{
    margin-top: -1px;
    width: 100%;
    height: 100vh;
    background-color: var(--side-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.page5 .up{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.page5 .up .box{
    width: 31.5%;
    height: 110%;
    transition: .5s all ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.page5 .box:hover{
    transform: scale(1.05);
}

.page5 .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page5 .down{
    width: 100%;
    height: 35%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.page5 .down .box{
    width: 31.5%;
    height: 110%;
    /* background-color: pink; */
    transition: .5s all ease-in-out;
    overflow: hidden;
}


.page6{
    width: 100%;
    height: 85vh;
    background-color: var(--side-color);
    margin-top: -7.9vh;
    color: #1E1E1E;
}

.page6 .top{
    width: 100%;
    height: 55%;
    padding: 6vw 25vh;
}

.page6 .top h1{
    font-family: var(--HelveticaNowDisplay);
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 20px;
}

.page6 .top p{
    font-family: var(--Open-sans);
    font-size: 16px;
    font-weight: 400;
    color: rgba(30, 30, 30, 0.7);
    width: 42%;
    margin-left: 5px;
}

.page6 .bottom{
    width: 100%;
    height: 45%;
}

.page6 .bottom a{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Helvetica-Regular;
    font-weight: 400;
}

.page6 .bottom .container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 11vw;
    align-items: center;
    transition: .5s;
    border-bottom: 3px solid #E4E4E4;
}

.page6 .bottom .container:hover{
    background-color: #66BBF9;
    cursor: pointer;
}

.page6 .bottom .container .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 0 1vw;
}

.page6 .bottom .container .left h1{
    font-family: Helvetica-Regular;
    font-weight: 400;
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: fit-content;
}

.page6 .bottom .container .left p{
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 20px;
    color: rgba(30, 30, 30, 0.7);
    letter-spacing: 1.7px;
}

.page6 .bottom .container img{
    width: 15%;
    height: 60%;
    object-fit: cover;
    border-radius: 2px;
}



.page7{
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-color);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.page7>h1{
    position:-webkit-sticky;
    font-family: Helvetica-bold;
    font-weight: 400;
    font-size: 62px;
    margin-bottom: 20px;
}

.page7 p{
    width: 30%;
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 60px;
}




.page7 .box{
    width: 70%;
    margin-top: 35px;
    /* padding-bottom: 45px; */
    cursor: pointer;
}

.page7 .box .question{
    /* height: 50px; */
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1e1e1e27;
}

.page7 .box .question h1{
    font-family: Helvetica-Medium;
    font-weight: 400;
    font-size: 26px;
}

.page7 .box .question i{
    font-family: Helvetica-Regular;
    font-size: 45px;
    font-weight: 400;
    transition: all ease-in-out 1s;
}

.page7 .box .answer{
    width: 100%;
    max-height: 0;
    overflow: hidden;   
    transition: max-height ease 1s;
}

.page7 .box .answer p{
    padding-top: 20px;
    width: 90%;
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 20px;
    text-align: start;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7;
}

.page7 .box #third-q p{
    line-height: 2.5;
}

.page7 .box .answer p span{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}


.page7 .box.active .answer{
    max-height: 400px;
}


.page7 .box.active i{
    transform: rotate(135deg);
}








.page8{
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page8 a{
    text-decoration: none;
}

.page8 h1{
    cursor: pointer;
    font-family: Helvetica-bold;
    color: #ffffffc0;
    font-size: 25vw;
    line-height: .9;
}

.page8 h1:hover{
    color: #FFFFFF;
}


.page9{
    margin-top: 80px;
    width: 100%;
    height: 20vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.page9 .container{
    border-top: 1px solid #ffffff53;
    width: 77%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page9 .container .box{
    width: auto;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.page9 .container .box h1{
    padding: 0 10px;
    font-family: var(--Open-sans);
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.page9 .container .box .links{
    display: flex;
    align-self: center;
    justify-self: center;
}

.page9 .container .box .links #last-link{
    border-right: none;
}

.page9 .container .box .links a{
    padding: 0 10px;
    border-right: 3px solid rgba(255, 255, 255, 0.308);
    text-decoration: none;
    font-family: Helvetica-Regular;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
    letter-spacing: 1px;
}

.page9 .container .box .links a:hover{
    text-decoration: none;
}






@media(max-width: 500px){

    .layer{
        top: -10%;
    }

    .layer .text{
        top: 20%;
        display: none;
    }
    .layer .text2{
        top: 48%;
        display: none;
    }
    .layer .text3{
        top: 75%;
        display: none;
    }


    .layer .box{
        width: 80%;
        height: 5vh;
        /* background-color: red;    */
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border: 2px solid #1E1E1E;
        border-radius: 8px;
    
    }
    
    .layer .box h1{
        font-family: Heading;
        font-stretch: 400%;
        font-size: 9vw;
        font-weight: 500;
        line-height: 1.1;
        margin-bottom: 60px;
    }
     
    nav{
        width: 100vw;
        height: 7vh;
        padding: 0 3.5vw;
        position: fixed;
        }
    
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .logo h1{
        font-size: 5vw;
        font-weight: 500;
        
    }
    
    .logo i{
        font-size: 5vw;
        font-weight: 500;
        
    }
    
    menu{
        width: 40vw;
        height: 8.5vh;
        padding: 0 15vw;
    }
    
    menu a{
        height: 100%;
        padding: 0 3vw;
        font-size: 4vw;
    }
    
    menu a:hover{
        background-color: transparent;
        color: #fff;
    }


    .main{
        width: 100%;
        overflow-x: hidden;
    }
    

    .name{
        display: none;
        overflow: hidden;
    }
    
.page1{
    margin-top: 7vh;
    width: 100%;
    height: 60vh;
}

.page1 .hero{
    position: absolute;
    left: 4%;
    top: 8%;
}

.hero .box{
    width: fit-content;
    height: 45px;
}

.hero h1{
    font-family: Helvetica-Bold;
    font-size: 9.5vw;
    letter-spacing: -1px;
    line-height: 1.2;
}

.hero h1:nth-child(3){
    margin-bottom: 2.2vh;
}

.hero h1 span{
    font-family: Helvetica-Regular;
    font-weight: 300;
    letter-spacing: -1px;
}

.hero p{
    font-weight: 300;
    font-size: 4.5vw;
    font-family: Helvetica-Regular;
    width: 90vw;
    line-height: 1.2;
    margin-bottom: 4vh;
}

.hero button{
    width: 100%;
    height: 5.5vh;
    font-family: Helvetica-Medium;
    color: #616468;
}

.hero button a{
    font-size: .9vw;
}

.hero button a h2{
    font-family: Helvetica-Medium;
    font-size: 3vw;
    letter-spacing: 0.5px;
}

.hero>button i{
    font-size: 4.5vw;
}

.page2{
    width: 100%;
    height: 20vh;
    padding: 5vh 5vw;
    margin-top: -10vh;
}

.page2 a{
    font-family: Helvetica-Medium;
    margin-right: 5vw;
    font-size: 2.8vw;
    letter-spacing: 1px;
}



.page3{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14vw;
    margin-top: -6vh;
}

.page3 .left{
    width: 130%;
    height: 50vh;
}

.page3 .right{
    width: 130%;
    height: 50vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.right p{
    font-family: Helvetica-Regular;
    font-size: 4.9vw;
    padding: 2vh 7vw;
}

.right button{
    width: 85%;
    height: 5.5vh;
    margin-top: 4vh;
    margin-left: 0px;
}

.right button a h2{
    font-family: Helvetica-Regular;
    font-size: 3vw;
}

.right>button i{
    font-size: 4.5vw;
}





.page4{
    position: relative;
    width: 100vw;
    height: 185vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    border-radius: 30px;
}

.page4 .up{
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-self: start;
    justify-self: center;
    padding: 10vh 3.5vw;
    margin-bottom: 24vh;
}

.page4 .up h1{
    font-size: 14vw;
}


.page4 .down{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    font-family: Helvetica-bold;
}

.down .box{
    width: 90%;
    height: 100%;
}

#first-box{
    margin-left: 0px;
}

.down .box .box-up h1{
    font-size: 8vw;
    font-family: Helvetica-Regular;
    border-bottom: 1.7px solid #cdcdcd;
    padding: 2vh 0;
}

.down .box .box-down h2{
    padding: 3vh 0;
    font-size: 8vw;
    /* letter-spacing: -1.3px; */
    font-weight: 600;
    font-family: Helvetica-Regular;
    color: #1E1E1E;
}

.down .box .box-down p{
    font-family: Helvetica-Regular;
    columns: #808080;
    opacity: .6;
    font-size: 4.5vw;
    width: 102%;
    font-weight: 400;
}




.Explore{
    position: relative;
    background-color: var(--side-color);
    /* background-color: red; */
    width: 100%;
    height: 10vh;
    z-index: 9;
    margin-top: -28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Explore button{
    position: relative;
    width: 90%;
    height: 5.5vh;
    right: 0%;
    top: 0vh;
}

.Explore button a h2{
    font-size: 3vw;
    font-family: Helvetica-Medium;
    font-weight: 300;
}

.Explore>button i{
    font-size: 5.5vw;
}




.page5{
    width: 100%;
    height: 50vh;
    background-color: var(--side-color);
    gap: 13px;
    padding: 0px 3vw;
    margin-top: -4vh;
}

.page5 .up{
    width: 100%;
    height: 16%;
}

.page5 .up .box{
    width: 31.5%;
    height: 100%;
}

.page5 .down{
    width: 100%;
    height: 16%;

}

.page5 .down .box{
    width: 31.5%;
    height: 100%;
}






.page6{
    width: 100%;
    height: 55vh;
    background-color: var(--side-color);
    margin-top: -8vh;
    border-radius: 30px;
}

.page6 .top{
    width: 100%;
    height: 55%;
    padding: 6vh 4vw;
}

.page6 .top h1{
    font-family: Helvetica-Medium;
    font-size: 11vw;
    font-weight: 400;
    margin-bottom: 5vw;
}

.page6 .top p{
    font-family: Helvetica-Regular;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: .5px;
    width: 100%;
}

.page6 .bottom{
    width: 100%;
    height: 45%;
}

.page6 .bottom a{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Helvetica-Regular;
    font-weight: 400;
}

.page6 .bottom .container{
    width: 100%;
    height: 60%;
    padding: 0vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6 .bottom .container .left{
    width: 100%;
    height: 100%;
    padding: 0vh 0;
}

.page6 .bottom .container .left h1{
    font-family: Helvetica-Medium;
    font-weight: 400;
    font-size: 7vw;
}

.page6 .bottom .container .left p{
    font-family: Helvetica-Regular;
    font-weight: 400;
    font-size: 3.5vw;
    letter-spacing: 1px;
}

.page6 .bottom .container img{
    width: 32%;
    height: 55%;
    border-radius: 2px;
}









.page7>h1{
    font-size: 15vw;
}

.page7 p{
    width: 85%;
    font-family: Helvetica-Medium;
    font-weight: 400;
    font-size: 4.2vw;
}

.page7 .box{
    width: 90%;
}

.page7 .box .question h1{
    font-family: Helvetica-Medium;
    font-weight: 400;
    font-size: 5vw;
    width: 75vw;
}

.page7 .box .question i{
    font-family: Helvetica-Regular;
    font-size: 10vw;
    font-weight: 400;
    transition: all ease-in-out 1s;
}

.page7 .box .answer{
    width: 100%;
}

.page7 .box .answer p{
    padding-top: 20px;
    width: 100%;
    font-family: Helvetica-Medium;
    font-weight: 400;
    font-size: 3.8vw;
    line-height: 1.2;
}

.page7 .box #third-q p{
    line-height: 1.7;
}

.page7 .box .answer p span{
    font-family: Helvetica-Regular;
    font-weight: 700;
}





.page8{
    width: 100%;
    height: 25vh;
    background-color: var(--main-color);
    margin-bottom: 13vh;
}

.page8 h1{
    cursor: pointer;
    font-family: Helvetica-bold;
    font-size: 26vw;
    line-height: 1;
}



.page9{
    margin-top: 8vh;
    width: 100%;
    height: 25vh;
}

.page9 .container{
    border-top: 1.5px solid #ffffff53;
    width: 95%;
    height: 100%;
}

.page9 .container .box{
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.page9 .container .box h1{
    padding: 2vh 3vw;
    font-family: Helvetica-Bold;
    font-weight: 400;
    font-size: 4vw;
}

.page9 .container .box .links{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: center;
}

.page9 .container .box #links-right{
    display: flex;
    align-items: flex-end;
}

.page9 .container .box .links #last-link{
    border-right: none;
}

.page9 .container .box .links a{
    padding: 0 3vw;
    text-decoration: none;
    font-family: Helvetica-Regular;
    font-weight: 400;
    font-size: 3.5vw;
    color: #fff;
    text-decoration: underline;
    letter-spacing: 1px;
    margin-bottom: 1vh;
    border-right: none;
}

.page9 .container .box .links a:hover{
    text-decoration: none;
}

    
}









